[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Firmware"

[[workflows.workflow]]
name = "Build Firmware"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && make clean && make app"

[workflows.workflow.metadata]
outputType = "console"
