MEMORY
{
        approm : ORIGIN = 0x10100000, LENGTH = 0x00300000
        appram : ORIGIN = 0x2005F000, LENGTH = 0x00014000
        trash  : ORIGIN = 0xffff0000, LENGTH = 64K
}

SECTIONS
{
        .dcapp_header : {
                __dcapp_header = ABSOLUTE(.);
                KEEP(*(.dcapp_header))
                . = ALIGN(256);
        } > approm

        .text : {
                *(.text) *(.text.*)
                *(.rodata) *(.rodata.*)
                . = ALIGN(4);
        } > approm

        .preinit_array : {
                . = ALIGN(4);
                __preinit_array_start = ABSOLUTE(.);
                KEEP(*(.preinit_array))
                KEEP(*(.preinit_array.*))
                __preinit_array_end = ABSOLUTE(.);
                . = ALIGN(4);
        } > approm

        .init_array : {
                . = ALIGN(4);
                __init_array_start = ABSOLUTE(.);
                KEEP(*(SORT_BY_INIT_PRIORITY(.init_array.*)))
                KEEP(*(.init_array))
                __init_array_end = ABSOLUTE(.);
                . = ALIGN(4);
        } > approm

        .fini_array : {
                . = ALIGN(4);
                __fini_array_start = ABSOLUTE(.);
                KEEP(*(SORT_BY_INIT_PRIORITY(.fini_array.*)))
                KEEP(*(.fini_array))
                __fini_array_end = ABSOLUTE(.);
                . = ALIGN(4);
        } > approm

        .ARM.extab : {
                *(.ARM.extab* .gnu.linkonce.armextab.*)
                . = ALIGN(4);
        } > approm

        .ARM.exidx : {
                __exidx_start = ABSOLUTE(.);
                *(.ARM.exidx* .gnu.linkonce.armexidx.*)
                __exidx_end = ABSOLUTE(.);
                . = ALIGN(4);
        } > approm

        .data : AT ( ADDR(.ARM.exidx) + SIZEOF(.ARM.exidx) ) {
                __data_start = ABSOLUTE(.);
                __data_data = LOADADDR(.data);
                *(.fastcode) *(.fastcode.*)
                *(.data) *(.data.*)
                . = ALIGN(4);
                __data_end = ABSOLUTE(.);
        } > appram

        .bss (NOLOAD) : {
                . = ALIGN(4);
                __bss_start = ABSOLUTE(.);
                *(.bss) *(.bss.*) *(COMMON)
                . = ALIGN(4);
                __bss_end = ABSOLUTE(.);
        } > appram

        .trash2 : { *(.init) *(.init.*) *(.fini) *(.fini.*) } > trash
}

__data_size = __data_end - __data_start;
__bss_size = __bss_end - __bss_start;
__app_image_end = LOADADDR(.data) + SIZEOF(.data);

ENTRY(dcAppEntry)
